name: Publish Helm Chart

on:
  # allow manual running of the workflow
  workflow_dispatch:
    inputs:
      chart_names:
        description: A comma separated list of chart names to publish to S3. This should be the output of helm/chart-releaser-action.
        required: true
        type: string
  workflow_call:
    inputs:
      chart_names:
        description: A comma separated list of chart names to publish to S3. This should be the output of helm/chart-releaser-action.
        required: true
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: convert input to array
        id: input-convert
        run: |
          echo "::debug::inputs = ${{ inputs.chart_names }}"
          # use JQ to convert the input string to a proper JSON array
          json_array=$(echo "${{ inputs.chart_names }}" | jq -Rc 'split(",")')
          echo "chart_names=${json_array}" >> $GITHUB_OUTPUT
          echo "::debug::chart_names=${json_array}"
    outputs:
      chart_names: ${{ steps.input-convert.outputs.chart_names }}

  publish:
    needs: setup
    runs-on: ubuntu-latest
    if: inputs.chart_names != ''
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        chart: ${{ fromJson(needs.setup.outputs.chart_names) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Install the s3 plugin
        run: |
          helm plugin install https://github.com/hypnoglow/helm-s3.git

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::642939544760:role/HelmChartPublish
          aws-region: us-east-2
      
      - name: Helm release
        id: helm-release
        run: |
          echo "::debug::chart = ${{ matrix.chart }}"
          helm repo add target s3://repos.imartin.io/charts --force-update
          helm package ${{ matrix.chart }} -u --destination .releases/
          helm s3 push .releases/${{ matrix.chart }}-*.tgz target --ignore-if-exists --relative
