name: Helm Chart Testing

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master
    tags:
      - v*

# This ensures that previous jobs for the PR are canceled when the PR is updated.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  kubeconform:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Set up Kubeconform
        run: |
          curl -sL https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz | tar xzf -
          mv kubeconform /usr/local/bin/
          rm -f LICENSE

      - name: Create test-reports Directory
        run: mkdir -p test-reports

      - name: Run Helm Template and Validate Charts
        id: helm-test
        run: |
          # helm template -> kubeconform for each chart and values file
          shopt -s nullglob
          exit_code=0
          for indexFile in */Chart.yaml; do
            chart=$(dirname "$indexFile")
            echo "::group::Testing $chart"
            for values in ${chart}/ci/*.yaml; do
              values_name=$(basename "$values" .yaml)
              report_file="test-reports/${chart}-${values_name}.xml"
              
              # Run Helm template and validate with kubeconform, outputting to JUnit file. Add DataTrees CRD catalog for schema validation
              set -x
              helm template --debug --generate-name "$chart" -f "$values" | kubeconform -strict -summary --output junit  -schema-location default -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' > "$report_file" || exit_code=$?
              set +x
            done
            echo "::endgroup::"
          done
          exit $exit_code

      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action/linux@v2
        with:
          check_name: Kubeconform Results
          comment_mode: ${{ (github.event.workflow_run.event == 'pull_request' || github.event_name == 'pull_request') && 'changes' || 'off' }}
          files: test-reports/*.xml
